<link href="assets/css/header.css" rel="stylesheet" />

<div class="header-containter">
    <div class="header-block"></div>
    <div class="header-block"></div>
    <div class="header-block">
        <% if (locals.authorized) { %>
        <div class="dropdown">
            <button class="dropbtn">
                <img src="assets/image/account.png" />
            </button>
            <div class="dropdown-content">
                <a href="#">用户信息</a>
                <a href="#">修改密码</a>
                <a href="/logout">退出登录</a>
            </div>
        </div>
        <% } %>
    </div>
</div>