<!DOCTYPE html>
<html>
<%- include('script'); %>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SSO</title>
    <meta name="description" content="<%=locals.config && config.description %>" />
    <meta name="keywords" content="<%=(locals.config && config.keywords||[]).join(',') %>" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="assets/css/app.css" rel="stylesheet">
</head>